body {
  @include fluid-text(16, 18);

  font-family: 'Work Sans';
  font-weight: 400;
  line-height: normal;
  color: var(--color-light);
  background-color: var(--color-dark);
}

a, 
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 67px;
}

h2 {
  font-size: 51px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 22px;
}

