:root {
  --color-dark: #2B2B2B;
  --color-dark-alt: #3B3B3B;
  --color-gray: #858584;
  --color-gray-alt: #CCCCCC;
  --color-light: #FFFFFF;
  --color-accent: #A259FF;

  --border-radius: 20px;
  --border: 2px solid var(--color-accent);

  --button-padding-y: 19px;
  --button-padding-x: 50px;
  --button-padding-x-alt: 30px;
  --input-height: 60px;

  --font-family-base: 'Work Sans', sans-serif;
  --font-family-additional: 'Space Mono', sans-serif;

  --container-width: 1050px;
  --container-padding-x: 30px;

  --section-padding-y: 80px;
  --section-padding-y-mobile: 40px;

  --transition-duration: .2s;
}