.burger-button {
  @include reset-button;
  @include square(54px);

  position: relative;
  border-radius: var(--border-radius);
  
  @include hover {
    background-color: var(--color-accent);
  }

  & span, & span::after, & span::before {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 33%;
    height: 2px;
    background-color: var(--color-light);
  }
  
  & span::after, & span::before {
    content: '';
    width: 66%;
    left: 35%;
  }

  & span::after {
    transform: translateY(-5px);
  }

   & span::before {
    transform: translateY(5px);
  }
}