.button {
  display: flex;
  column-gap: 12px;
  padding-inline: var(--button-padding-x);
  padding-block: var(--button-padding-y);
  font-weight: 600;
  font-size: 16px;
  color: var(--color-light);
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  border: 0;

  &--square {
    @include reset-button;
    @include square(100px);

    background-color: var(--color-accent);
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: center;
  }

  @include hover {
    background-color: var(--color-gray);
  }
}
