.cross-button {
  @include reset-button;
  @include square(54px);

  position: relative;
  border-radius: var(--border-radius);

  @include hover {
    background-color: var(--color-accent);
  }

  &::before, &::after {
    @include abs-center;

    content: '';
    width: 50%;
    height: 2px;
    background-color: var(--color-dark);
  }

  &::before {
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}